<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oxigen.hardware.penstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penstore">
        <activity
            android:name=".EditPhone"
            android:exported="false" />
        <activity
            android:name=".EditFullName"
            android:exported="false" />
        <activity
            android:name=".EditAddress"
            android:exported="false" />
        <activity
            android:name=".UserSettings"
            android:exported="false" />
        <activity
            android:name=".UserSecurity"
            android:exported="false" />
        <activity
            android:name=".UserHistory"
            android:exported="false" />
        <activity
            android:name=".UserPhone"
            android:exported="false" />
        <activity
            android:name=".UserAddress"
            android:exported="false" />
        <activity
            android:name=".UserFullName"
            android:exported="false" />
        <activity
            android:name=".UserEmail"
            android:exported="false" />
        <activity
            android:name=".UserName"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>